services:
  backend:
    build:
      context: ./back/api
      dockerfile: dockerfile
    container_name: django_app
    ports:
      - "8000:8000"
    volumes:
      - ./back/api:/app
    environment:
      - DEBUG=1
    depends_on:
      - db

  frontend:
    build:
      context: ./appflutter
      dockerfile: dockerfile
    container_name: flutter_web
    ports:
      - "8080:80"
    depends_on:
      - backend

  db:
    image: postgres:15
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_DB: mydb
      POSTGRES_USER: user
      POSTGRES_PASSWORD: pass
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data/

volumes:
  postgres_data:
